build/000_Text.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <meta name="og:type" content="website">
    <meta name="og:url" content="">
    <meta name="og:title" content="Мастерские пинчука - Текстовая">
    <meta name="og:description" content="">
    <meta name="og:image" content="">
    <meta name="og:locale" content="ru_RU">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Мастерские пинчука - Текстовая">
    <meta name="twitter:description" content="">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <title>Мастерские пинчука - Текстовая</title>
    <link rel="apple-touch-icon" sizes="57x57" href="./images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
    <link rel="icon" type="image/png" href="./images/favicon.png">
    <link rel="stylesheet" type="text/css" href="css/font.css">
    <link rel="stylesheet" type="text/css" href="css/vendor.css">
    <link rel="stylesheet" type="text/css" href="css/popup.css">
    <link rel="stylesheet" type="text/css" href="css/article_preview.css">
    <link rel="stylesheet" type="text/css" href="css/template_styles.css">
  </head>
  <body>
    <div class="wrapper" id="wrapper">
      <header class="mainHeader">
        <div class="container">
          <div class="mainHeader__top">
            <div class="searchOverlay js-search-overlay"></div><a class="mainHeader__logo" href="#">
              <svg>
                <use xlink:href="images/sprites.svg#logo"></use>
              </svg></a>
            <div class="mainHeader__menuBtn js-menu-btn">
              <div class="div"><span></span><span></span></div>
              <div class="div"><span></span><span></span></div>
              <div class="div"><span></span><span></span></div>
            </div><a class="mainHeader__menuBtn mainHeader__menuBtn--link js-scrollLink" href="/#menu">
              <div class="div"><span></span><span></span></div>
              <div class="div"><span></span><span></span></div>
              <div class="div"><span></span><span></span></div></a>
            <div class="mainHeader__contacts"><a class="mainHeader__contactsEmail" href="mailto:nagradi@mail.ru"><span>nagradi@mail.ru</span></a><a class="mainHeader__contactsPhone" href="tel:89000000000">8 900 000 00 00</a></div>
            <div class="mainHeader__buttons"><a class="js-show-popup mainHeader__contactsPopupBtn" href="javascript:void(0);" data-form-class="requestCall">
                <svg>
                  <use xlink:href="images/sprites.svg#phone_ic"></use>
                </svg></a>
              <form class="mainHeader__searchBox" action="/" method="POST">
                <input class="mainHeader__contactsSearch js-search-input" type="text" placeholder="Поиск">
                <button class="mainHeader__contactsSearchBtn js-search-show" type="button">
                  <svg>
                    <use xlink:href="images/sprites.svg#search_ic"></use>
                  </svg>
                </button>
              </form>
            </div>
          </div>
          <nav class="mainHeader__menu js-menu" id="menu">
            <svg class="mainHeader__menuBg">
              <use xlink:href="images/sprites.svg#menu"></use>
            </svg>
            <ul class="mainHeader__menuList">
              <li class="mainHeader__menuItem"><a class="mainHeader__menuLink" href="#">Каталог</a></li>
              <li class="mainHeader__menuItem"><a class="mainHeader__menuLink" href="#">Оплата и доставка</a></li>
              <li class="mainHeader__menuItem"><a class="mainHeader__menuLink" href="#">О компании</a></li>
              <li class="mainHeader__menuItem"><a class="mainHeader__menuLink" href="#">Новости</a></li>
              <li class="mainHeader__menuItem"><a class="mainHeader__menuLink" href="#">Акции</a></li>
              <li class="mainHeader__menuItem"><a class="mainHeader__menuLink" href="#">Контакты</a></li>
            </ul>
          </nav>
          <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Главная</a></li>
              <li class="breadcrumbs__item"><span>Текстовая</span></li>
            </ul>
          </div>
        </div>
      </header>
      <main class="content-container">
        <div class="container">
          <h1>Заголовок h1 (320 — 1280)</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis. Vivamus eu hendrerit justo. Curabitur tristique dictum placerat. Duis sollicitudin et leo ut euismod. Aliquam quis faucibus eros. Nullam sed tempor lectus, id fringilla ex. Nam tortor augue, euismod sed lacus id, sollicitudin euismod magna. <span class="strong">
               Suspendisse semper </span>fermentum tortor, quis dapibus nulla congue ac.</p>
          <p>Ut finibus, ex at aliquet pellentesque, eros odio varius diam, quis aliquam leo sem et lectus. Nulla a lacus et nisi congue sagittis a eu est. Sed sed libero pretium mauris rhoncus faucibus a sit amet dui. Aliquam at condimentum sem. Phasellus auctor tempor auctor. Pellentesque id ex gravida, auctor risus in, tempus nisl. Maecenas dolor massa, <a href="#">
               finibus vitae leo quis </a>, lobortis cursus lorem. Maecenas suscipit est diam, in <a href="#">molestie lacus luctus vel</a>. </p>
          <h2>Заголовок H2 (320 — 1280)</h2>
          <figure class="floatRight"><a class="js-fancybox" href="./images/img_1.jpg"><img src="./images/img_1.jpg" alt=""><span class="zoomIc">
                <svg>
                  <use xlink:href="images/sprites.svg#zoom_ic"></use>
                </svg></span></a></figure>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis. Vivamus eu hendrerit justo. Curabitur tristique dictum placerat. Duis sollicitudin et leo ut euismod. Aliquam quis faucibus eros. Nullam sed tempor lectus, id fringilla ex. Nam tortor augue, euismod sed lacus id, sollicitudin euismod magna. Suspendisse semper fermentum tortor, quis dapibus nulla congue ac.</p>
          <p>Ut finibus, ex at aliquet pellentesque, eros odio varius diam, quis aliquam leo sem et lectus. Nulla a lacus et nisi congue sagittis a eu est. Sed sed libero pretium mauris rhoncus faucibus a sit amet dui. Aliquam at condimentum sem. Phasellus auctor tempor auctor. Pellentesque id ex gravida, auctor risus in, tempus nisl. Maecenas dolor massa, finibus vitae leo quis, lobortis cursus lorem. Maecenas suscipit est diam, in molestie lacus luctus vel. </p>
          <h3>Заголовок H3 (320 — 1280)</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis. Vivamus eu hendrerit justo. Curabitur tristique dictum placerat. Duis sollicitudin et leo ut euismod. Aliquam quis faucibus eros. Nullam sed tempor lectus, id fringilla ex. Nam tortor augue, euismod sed lacus id, sollicitudin euismod magna. Suspendisse semper fermentum tortor, quis dapibus nulla congue ac.</p>
          <div class="quote">
            <svg>
              <use xlink:href="images/sprites.svg#cup_ic"></use>
            </svg>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis. Vivamus eu hendrerit justo. Curabitur tristique dictum placerat. Duis sollicitudin et leo ut euismod. Aliquam quis faucibus eros. Nullam sed tempor lectus, id fringilla ex. Nam tortor augue, euismod sed lacus id, sollicitudin euismod magna. Suspendisse semper fermentum tortor, quis dapibus nulla congue ac.</p>
          </div>
          <p>Ut finibus, ex at aliquet pellentesque, eros odio varius diam, quis aliquam leo sem et lectus. Nulla a lacus et nisi congue sagittis a eu est. Sed sed libero pretium mauris rhoncus faucibus a sit amet dui. Aliquam at condimentum sem. Phasellus auctor tempor auctor. Pellentesque id ex gravida, auctor risus in, tempus nisl. Maecenas dolor massa, finibus vitae leo quis, lobortis cursus lorem. Maecenas suscipit est diam, in molestie lacus luctus vel. </p>
          <h4>Заголовок H4 (320 — 1280)</h4>
          <div class="lists">
            <div class="col">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis. </p>
              <ul>
                <li>ошибка при наборе адреса страницы (URL) или люой другой длинный заголовок пункта:
                  <ul>
                    <li>подпункт первого пункта</li>
                    <li>подпункт первого пункта
                      <ul>
                        <li>подпункт второго подпункта первого пункта</li>
                        <li>подпункт второго подпункта первого пункта</li>
                      </ul>
                    </li>
                    <li>подпункт первого пункта</li>
                  </ul>
                </li>
                <li>переход по неработающей или  неправильной  ссылке;</li>
                <li>отсутствие запрашиваемой страницы на сайте.</li>
              </ul>
              <p>Ut finibus, ex at aliquet pellentesque, eros odio varius diam, quis aliquam leo sem et lectus. Nulla a lacus et nisi congue sagittis a eu est. Sed sed libero pretium mauris rhoncus faucibus a sit amet dui. Aliquam at condimentum sem. </p>
            </div>
            <div class="col">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis. </p>
              <ol>
                <li>Ошибка при наборе адреса страницы (URL) или люой другой длинный заголовок пункта:
                  <ol>
                    <li>Подпункт первого пункта</li>
                    <li>Подпункт первого пункта
                      <ol>
                        <li>Подпункт второго подпункта первого пункта</li>
                        <li>Подпункт второго подпункта первого пункта</li>
                      </ol>
                    </li>
                    <li>Подпункт первого пункта</li>
                  </ol>
                </li>
                <li>Переход по неработающей или  неправильной  ссылке;</li>
                <li>Отсутствие запрашиваемой страницы на сайте.</li>
              </ol>
              <p>Ut finibus, ex at aliquet pellentesque, eros odio varius diam, quis aliquam leo sem et lectus. Nulla a lacus et nisi congue sagittis a eu est. Sed sed libero pretium mauris rhoncus faucibus a sit amet dui. Aliquam at condimentum sem. </p>
            </div>
          </div>
          <h5>Заголовок H5 (320 — 1280)</h5>
          <div class="table">
            <table>
              <thead>
                <tr>
                  <th>Название 1 столбца</th>
                  <th>Название 2 столбца</th>
                  <th>Название 3 столбца</th>
                </tr>
              </thead>
              <tr>
                <td>Текст 1 строки</td>
                <td>Текст 1 строки</td>
                <td>Текст 1 строки</td>
              </tr>
              <tr>
                <td>Текст 2 строки</td>
                <td>Текст 2 строки</td>
                <td>Текст 2 строки</td>
              </tr>
              <tr>
                <td>Текст 3 строки</td>
                <td>Текст 3 строки</td>
                <td>Текст 3 строки</td>
              </tr>
              <tr>
                <td>Текст 4 строки</td>
                <td>Текст 4 строки</td>
                <td>Текст 4 строки</td>
              </tr>
            </table>
            <div class="tableDescription">
              <p><span class="strong">Описание таблицы: </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis.</p>
            </div>
          </div>
          <article class="articlePreview">
            <div class="articlePreview__text" style="width: 285px; padding-bottom: 20px;">
              <style type="text/css">
                .articlePreview::after {
                  display: none;
                }
              </style>
              <h6>Заголовок H6 (320 — 1280)</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan scelerisque sapien eu mollis. Sed vitae cursus neque.</p>
              <div class="articlePreview__footer"><span class="articlePreview__date">30.01.2018</span><a class="articlePreview__readMore" href="#">Читать подробнее
                  <svg>
                    <use xlink:href="images/sprites.svg#arrow_right_ic"></use>
                  </svg></a></div>
            </div>
          </article>
          <h1 style="text-transform: uppercase;">UI – элементы</h1>
          <form class="has-validation-callback" action="/" style="display: flex; width: 100%; margin-bottom: 20px;">
            <div style="max-width: 340px; width: 100%;">
              <div class="formField js-formField" style="max-width: 338px;"><span class="formField__title">ФИО</span>
                <input type="text" name="text" data-validation="required" data-error-msg="Пожалуйста, заполните поле" data-validation-error-msg=" " style="max-width: 274px;">
              </div>
              <div class="formField js-formField" style="max-width: 338px;"><span class="formField__title">ФИО</span>
                <input type="text" name="text" data-validation="required" data-error-msg="Пожалуйста, заполните поле" data-validation-error-msg=" " style="max-width: 274px;">
              </div>
              <div class="formField js-formField" style="max-width: 338px;"><span class="formField__title">ФИО</span>
                <input type="text" name="text" data-validation="required" data-error-msg="Пожалуйста, заполните поле" data-validation-error-msg=" " style="max-width: 274px;">
              </div>
              <div class="disabled formField js-formField" style="max-width: 338px;"><span class="formField__title">ФИО</span>
                <input type="text" name="text" data-validation="required" data-error-msg="Пожалуйста, заполните поле" data-validation-error-msg=" " style="max-width: 274px;" disabled>
              </div>
            </div>
            <div style="max-width: 367px; width: 100%; padding-left: 48px;">
              <div class="formField js-formField" style="width: 318px;"><span class="formField__title">Металл</span>
                <select class="js-select styled-select" style="width: 244px;">
                  <option selected>Золото</option>
                  <option>Серебро</option>
                  <option>Бронза</option>
                  <option>Латунь</option>
                  <option>Медь</option>
                  <option>some 6</option>
                  <option>some 7</option>
                  <option>some 8</option>
                  <option>some 9</option>
                  <option>some 10</option>
                </select>
              </div>
              <div class="formField js-formField" style="width: 318px;"><span class="formField__title">Металл</span>
                <select class="js-select styled-select" multiple="multiple" style="width: 244px;">
                  <option selected>Золото</option>
                  <option>Серебро</option>
                  <option>Бронза</option>
                  <option>Латунь</option>
                  <option>Медь</option>
                  <option>some 6</option>
                  <option>some 7</option>
                  <option>some 8</option>
                  <option>some 9</option>
                  <option>some 10</option>
                </select>
              </div>
              <div class="formField js-formField" style="width: 318px;"><span class="formField__title">Металл</span>
                <select class="js-select styled-select" multiple="multiple" style="width: 244px;">
                  <option selected>Золото</option>
                  <option>Серебро</option>
                  <option>Бронза</option>
                  <option>Латунь</option>
                  <option>Медь</option>
                  <option>some 6</option>
                  <option>some 7</option>
                  <option>some 8</option>
                  <option>some 9</option>
                  <option>some 10</option>
                </select>
              </div>
            </div>
            <div style="max-width: 165px; width: 100%; padding-left: 60px;">
              <div class="formField">
                <label class="checkbox">
                  <input type="checkbox" name="checkbox"><span class="checkbox__button">
                    <svg>
                      <use xlink:href="images/sprites.svg#checkbox_ic"></use>
                    </svg></span><ins class="checkbox__text">Checkbox</ins>
                </label>
              </div>
              <div class="formField">
                <label class="checkbox">
                  <input type="checkbox" name="checkbox"><span class="checkbox__button">
                    <svg>
                      <use xlink:href="images/sprites.svg#checkbox_ic"></use>
                    </svg></span><ins class="checkbox__text">Checkbox</ins>
                </label>
              </div>
              <div class="formField">
                <label class="checkbox">
                  <input type="checkbox" name="checkbox"><span class="checkbox__button">
                    <svg>
                      <use xlink:href="images/sprites.svg#checkbox_ic"></use>
                    </svg></span><ins class="checkbox__text">Checkbox</ins>
                </label>
              </div>
              <div class="formField disabled">
                <label class="checkbox">
                  <input type="checkbox" name="checkbox" disabled><span class="checkbox__button">
                    <svg>
                      <use xlink:href="images/sprites.svg#checkbox_ic"></use>
                    </svg></span><ins class="checkbox__text">Checkbox</ins>
                </label>
              </div>
              <div class="formField">
                <label class="radio">
                  <input type="radio" name="radio"><span class="radio__button">
                    <svg>
                      <use xlink:href="images/sprites.svg#radio_ic"></use>
                    </svg></span><ins class="radio__text">Radiobutton</ins>
                </label>
              </div>
              <div class="formField">
                <label class="radio">
                  <input type="radio" name="radio"><span class="radio__button">
                    <svg>
                      <use xlink:href="images/sprites.svg#radio_ic"></use>
                    </svg></span><ins class="radio__text">Radiobutton</ins>
                </label>
              </div>
              <div class="formField">
                <label class="radio">
                  <input type="radio" name="radio"><span class="radio__button">
                    <svg>
                      <use xlink:href="images/sprites.svg#radio_ic"></use>
                    </svg></span><ins class="radio__text">Radiobutton</ins>
                </label>
              </div>
              <div class="formField disabled">
                <label class="radio">
                  <input type="radio" name="radio" disabled><span class="radio__button">
                    <svg>
                      <use xlink:href="images/sprites.svg#radio_ic"></use>
                    </svg></span><ins class="radio__text">Radiobutton</ins>
                </label>
              </div>
            </div>
          </form>
          <div style="width: 100%; display: flex; justify-content: space-between; margin-bottom: 70px;">
            <div style="width: 165px; margin-right: 40px;"><a class="button sendBtn" style="margin-bottom: 20px;" href="#">Отправить</a>
              <button class="button sendBtn">Отправить</button>
            </div>
            <div style="width: 370px;"><a class="button navBtn" style="margin-bottom: 20px;" href="#"><span>Кубки</span>
                <div class="navBtn__icons">
                  <svg class="iconCategory">
                    <use xlink:href="images/sprites.svg#cup_small_ic"></use>
                  </svg>
                  <svg class="iconRightArrow">
                    <use xlink:href="images/sprites.svg#arrow_right_ic"></use>
                  </svg>
                </div></a><a class="button navBtn" href="#"><span>Кубки</span>
                <div class="navBtn__icons">
                  <svg class="iconCategory">
                    <use xlink:href="images/sprites.svg#cup_small_ic"></use>
                  </svg>
                  <svg class="iconRightArrow">
                    <use xlink:href="images/sprites.svg#arrow_right_ic"></use>
                  </svg>
                </div></a></div>
            <div style="width: 206px;"><a class="button moreBtn" style="margin-bottom: 20px;" href="#">Подробнее</a>
              <button class="button moreBtn">Подробнее</button>
            </div>
            <div style="width: 165px; padding-left: 20px; display: flex;justify-content: space-between; position: relative;">
              <button class="slick-arrow slick-prev" style="left: 20px;"></button>
              <button class="slick-arrow slick-next" style="right: 0;"></button>
            </div>
          </div>
        </div>
      </main>
      <div class="mainFooter">
        <div class="container">
          <div class="mainFooter__top">
            <nav class="mainFooter__menu">
              <ul class="mainFooter__menuList">
                <li class="mainFooter__menuItem"><a class="mainFooter__menuLink" href="#">Каталог</a></li>
                <li class="mainFooter__menuItem"><a class="mainFooter__menuLink" href="#">Оплата и доставка</a></li>
                <li class="mainFooter__menuItem"><a class="mainFooter__menuLink" href="#">О компании</a></li>
                <li class="mainFooter__menuItem"><a class="mainFooter__menuLink" href="#">Новости</a></li>
                <li class="mainFooter__menuItem"><a class="mainFooter__menuLink" href="#">Акции</a></li>
                <li class="mainFooter__menuItem"><a class="mainFooter__menuLink" href="#">Контакты</a></li>
              </ul>
            </nav>
            <div class="mainFooter__row"><a class="mainFooter__logo" href="#">
                <svg>
                  <use xlink:href="images/sprites.svg#logo_footer"></use>
                </svg></a>
              <div class="mainFooter__contacts"><a class="mainFooter__contactsPhone" href="mailto:nagradi@mail.ru"><span>nagradi@mail.ru</span></a><a class="mainFooter__contactsEmail" href="tel:89000000000"><span>8 900 000 00 00</span></a></div>
              <div class="mainFooter__social">
                <div class="mainFooter__socialTitle"><span>Поделиться в соц. сетях:</span></div>
                <ul>
                  <li><a class="mainFooter__socialIcon mainFooter__socialIcon--vk" href="#">
                      <svg>
                        <use xlink:href="images/sprites.svg#vk_ic"></use>
                      </svg></a></li>
                  <li><a class="mainFooter__socialIcon mainFooter__socialIcon--fb" href="#">
                      <svg>
                        <use xlink:href="images/sprites.svg#fb_ic"></use>
                      </svg></a></li>
                  <li><a class="mainFooter__socialIcon mainFooter__socialIcon--tw" href="#">
                      <svg>
                        <use xlink:href="images/sprites.svg#tw_ic"></use>
                      </svg></a></li>
                  <li><a class="mainFooter__socialIcon mainFooter__socialIcon--ok" href="#">
                      <svg>
                        <use xlink:href="images/sprites.svg#ok_ic"></use>
                      </svg></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="mainFooter__bottom">
          <div class="container">
            <div class="mainFooter__bottomCopyright">
              <p>&copy; 2017 — 2018 ООО «Мастерские пинчука»</p><a href="#">Сайт разработан «КРИТ»</a>
            </div>
          </div>
        </div>
      </div>
      <div class="popUpForm hidden-block js-requestCall">
        <div class="popUpForm__block"><a class="popUpForm__close js-close-form" href="#">
            <svg>
              <use xlink:href="images/sprites.svg#close_ic"></use>
            </svg></a>
          <div class="container-fluid">
            <div class="row">
              <div class="popUpForm__container">
                <form>
                  <input class="formName" type="hidden" name="_">
                  <h5 class="popUpForm__title">
                     Связаться с нами</h5>
                  <div class="popUpForm__field formField js-formField"><span class="formField__title">ФИО<ins class="popUpForm__required">*</ins></span>
                    <input type="text" name="text" data-validation="required" data-error-msg="Пожалуйста, заполните поле" data-validation-error-msg=" ">
                  </div>
                  <div class="popUpForm__field formField js-formField"><span class="formField__title">Телефон<ins class="popUpForm__required">*</ins></span>
                    <input class="js-phoneInput" type="text" name="text-name" data-validation="required" data-error-msg="Пожалуйста, заполните поле" data-validation-error-msg=" ">
                  </div>
                  <div class="popUpForm__field popUpForm__field--textarea formField"><span class="formField__title">Сообщение</span>
                    <textarea rows="3"></textarea>
                  </div>
                  <footer class="popUpForm__footer">
                    <div class="popUpForm__field formField">
                      <label class="checkbox">
                        <input type="checkbox" name="checkbox" data-validation="required"><span class="checkbox__button">
                          <svg>
                            <use xlink:href="images/sprites.svg#checkbox_ic"></use>
                          </svg></span><ins class="checkbox__text">Я даю согласие на хранение и обработку своих персональных данных. <br><a href="#">Соглашение</a></ins>
                      </label>
                      <button class="button sendBtn">Отправить</button>
                    </div>
                  </footer>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/libs/vendor.js"></script>
    <script src="js/pop_up.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>

src/000_Text.pug
extends pug/base

append vars
  - htmlClass = ''
  - url = ''
  - title = 'Мастерские пинчука - Текстовая'
  - description = ''
  - twitterTitle = ''
  - twitterDescription = ''
  - image = ''
  - linkCssAttrs = ["css/article_preview.css"]

block content
  .container
    h1
      | Заголовок h1 (320 — 1280)
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis. Vivamus eu hendrerit justo. Curabitur tristique dictum placerat. Duis sollicitudin et leo ut euismod. Aliquam quis faucibus eros. Nullam sed tempor lectus, id fringilla ex. Nam tortor augue, euismod sed lacus id, sollicitudin euismod magna. 
      span.strong 
        | Suspendisse semper 
      | fermentum tortor, quis dapibus nulla congue ac.
    p
      | Ut finibus, ex at aliquet pellentesque, eros odio varius diam, quis aliquam leo sem et lectus. Nulla a lacus et nisi congue sagittis a eu est. Sed sed libero pretium mauris rhoncus faucibus a sit amet dui. Aliquam at condimentum sem. Phasellus auctor tempor auctor. Pellentesque id ex gravida, auctor risus in, tempus nisl. Maecenas dolor massa, 
      a(href="#") 
        | finibus vitae leo quis 
      | , lobortis cursus lorem. Maecenas suscipit est diam, in 
      a(href="#")
        | molestie lacus luctus vel
      | . 
    h2
      | Заголовок H2 (320 — 1280)
    figure.floatRight
      a(href="./images/img_1.jpg").js-fancybox
        img(src="./images/img_1.jpg" alt="")
        span.zoomIc
          +svg('zoom_ic')
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis. Vivamus eu hendrerit justo. Curabitur tristique dictum placerat. Duis sollicitudin et leo ut euismod. Aliquam quis faucibus eros. Nullam sed tempor lectus, id fringilla ex. Nam tortor augue, euismod sed lacus id, sollicitudin euismod magna. Suspendisse semper fermentum tortor, quis dapibus nulla congue ac.
    p
      | Ut finibus, ex at aliquet pellentesque, eros odio varius diam, quis aliquam leo sem et lectus. Nulla a lacus et nisi congue sagittis a eu est. Sed sed libero pretium mauris rhoncus faucibus a sit amet dui. Aliquam at condimentum sem. Phasellus auctor tempor auctor. Pellentesque id ex gravida, auctor risus in, tempus nisl. Maecenas dolor massa, finibus vitae leo quis, lobortis cursus lorem. Maecenas suscipit est diam, in molestie lacus luctus vel. 
    h3
      | Заголовок H3 (320 — 1280)

    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis. Vivamus eu hendrerit justo. Curabitur tristique dictum placerat. Duis sollicitudin et leo ut euismod. Aliquam quis faucibus eros. Nullam sed tempor lectus, id fringilla ex. Nam tortor augue, euismod sed lacus id, sollicitudin euismod magna. Suspendisse semper fermentum tortor, quis dapibus nulla congue ac.
    .quote
      +svg('cup_ic')
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis. Vivamus eu hendrerit justo. Curabitur tristique dictum placerat. Duis sollicitudin et leo ut euismod. Aliquam quis faucibus eros. Nullam sed tempor lectus, id fringilla ex. Nam tortor augue, euismod sed lacus id, sollicitudin euismod magna. Suspendisse semper fermentum tortor, quis dapibus nulla congue ac.
    p
      | Ut finibus, ex at aliquet pellentesque, eros odio varius diam, quis aliquam leo sem et lectus. Nulla a lacus et nisi congue sagittis a eu est. Sed sed libero pretium mauris rhoncus faucibus a sit amet dui. Aliquam at condimentum sem. Phasellus auctor tempor auctor. Pellentesque id ex gravida, auctor risus in, tempus nisl. Maecenas dolor massa, finibus vitae leo quis, lobortis cursus lorem. Maecenas suscipit est diam, in molestie lacus luctus vel. 
    h4
      | Заголовок H4 (320 — 1280)
    .lists
      .col
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis. 
        ul
          li
            | ошибка при наборе адреса страницы (URL) или люой другой длинный заголовок пункта:
            ul
              li
                | подпункт первого пункта
              li
                | подпункт первого пункта
                ul
                  li
                    | подпункт второго подпункта первого пункта
                  li
                    | подпункт второго подпункта первого пункта
              li
                | подпункт первого пункта
          li
            | переход по неработающей или  неправильной  ссылке;
          li
            | отсутствие запрашиваемой страницы на сайте.
        p
          | Ut finibus, ex at aliquet pellentesque, eros odio varius diam, quis aliquam leo sem et lectus. Nulla a lacus et nisi congue sagittis a eu est. Sed sed libero pretium mauris rhoncus faucibus a sit amet dui. Aliquam at condimentum sem. 
      .col
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis. 
        ol
          li
            | Ошибка при наборе адреса страницы (URL) или люой другой длинный заголовок пункта:
            ol
              li
                | Подпункт первого пункта
              li
                | Подпункт первого пункта
                ol
                  li
                    | Подпункт второго подпункта первого пункта
                  li
                    | Подпункт второго подпункта первого пункта
              li
                | Подпункт первого пункта
          li
            | Переход по неработающей или  неправильной  ссылке;
          li
            | Отсутствие запрашиваемой страницы на сайте.
        p
          | Ut finibus, ex at aliquet pellentesque, eros odio varius diam, quis aliquam leo sem et lectus. Nulla a lacus et nisi congue sagittis a eu est. Sed sed libero pretium mauris rhoncus faucibus a sit amet dui. Aliquam at condimentum sem. 
    h5
      | Заголовок H5 (320 — 1280)
    .table
      table
        thead
          tr
            th
              | Название 1 столбца
            th
              | Название 2 столбца
            th
              | Название 3 столбца
        tr
          td
            | Текст 1 строки
          td
            | Текст 1 строки
          td
            | Текст 1 строки
        tr
          td
            | Текст 2 строки
          td
            | Текст 2 строки
          td
            | Текст 2 строки
        tr
          td
            | Текст 3 строки
          td
            | Текст 3 строки
          td
            | Текст 3 строки
        tr
          td
            | Текст 4 строки
          td
            | Текст 4 строки
          td
            | Текст 4 строки
      .tableDescription
        p
          span.strong
            | Описание таблицы: 
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis.
    article.articlePreview
      .articlePreview__text(style="width: 285px; padding-bottom: 20px;")
        style(type='text/css').
          .articlePreview::after {
            display: none;
          }
        h6
          | Заголовок H6 (320 — 1280)
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan scelerisque sapien eu mollis. Sed vitae cursus neque.
        .articlePreview__footer
          span.articlePreview__date
            | 30.01.2018
          a(href="#").articlePreview__readMore
            | Читать подробнее
            +svg('arrow_right_ic')
    h1(style="text-transform: uppercase;")
      | UI – элементы
    form.has-validation-callback(action="/" style="display: flex; width: 100%; margin-bottom: 20px;")
      div(style="max-width: 340px; width: 100%;")
        .formField.js-formField(style="max-width: 338px;")
          span.formField__title
            | ФИО
          input(type='text', name='text', data-validation='required', data-error-msg='Пожалуйста, заполните поле', data-validation-error-msg=' ' style="max-width: 274px;")
        .formField.js-formField(style="max-width: 338px;")
          span.formField__title
            | ФИО
          input(type='text', name='text', data-validation='required', data-error-msg='Пожалуйста, заполните поле', data-validation-error-msg=' ' style="max-width: 274px;")
        .formField.js-formField(style="max-width: 338px;")
          span.formField__title
            | ФИО
          input(type='text', name='text', data-validation='required', data-error-msg='Пожалуйста, заполните поле', data-validation-error-msg=' ' style="max-width: 274px;")
        .disabled.formField.js-formField(style="max-width: 338px;")
          span.formField__title
            | ФИО
          input(type='text', name='text', data-validation='required', data-error-msg='Пожалуйста, заполните поле', data-validation-error-msg=' ' style="max-width: 274px;" disabled)
      div(style="max-width: 367px; width: 100%; padding-left: 48px;")
        .formField.js-formField(style="width: 318px;")
          span.formField__title
            | Металл
          select.js-select.styled-select(style="width: 244px;")
            option(selected)
              | Золото
            option
              | Серебро
            option
              | Бронза
            option
              | Латунь
            option
              | Медь
            option
              | some 6
            option
              | some 7
            option
              | some 8
            option
              | some 9
            option
              | some 10
        .formField.js-formField(style="width: 318px;")
          span.formField__title
            | Металл
          select.js-select.styled-select(multiple="multiple" style="width: 244px;")
            option(selected)
              | Золото
            option
              | Серебро
            option
              | Бронза
            option
              | Латунь
            option
              | Медь
            option
              | some 6
            option
              | some 7
            option
              | some 8
            option
              | some 9
            option
              | some 10
        .formField.js-formField(style="width: 318px;")
          span.formField__title
            | Металл
          select.js-select.styled-select(multiple="multiple" style="width: 244px;")
            option(selected)
              | Золото
            option
              | Серебро
            option
              | Бронза
            option
              | Латунь
            option
              | Медь
            option
              | some 6
            option
              | some 7
            option
              | some 8
            option
              | some 9
            option
              | some 10
      div(style="max-width: 165px; width: 100%; padding-left: 60px;")
        .formField
          label.checkbox
            input(type='checkbox', name='checkbox')
            span.checkbox__button
              +svg('checkbox_ic')
            ins.checkbox__text
              | Checkbox
        .formField
          label.checkbox
            input(type='checkbox', name='checkbox')
            span.checkbox__button
              +svg('checkbox_ic')
            ins.checkbox__text
              | Checkbox
        .formField
          label.checkbox
            input(type='checkbox', name='checkbox')
            span.checkbox__button
              +svg('checkbox_ic')
            ins.checkbox__text
              | Checkbox
        .formField.disabled
          label.checkbox
            input(type='checkbox' name='checkbox' disabled)
            span.checkbox__button
              +svg('checkbox_ic')
            ins.checkbox__text
              | Checkbox
        .formField
          label.radio
            input(type='radio' name='radio')
            span.radio__button
              +svg('radio_ic')
            ins.radio__text
              | Radiobutton
        .formField
          label.radio
            input(type='radio' name='radio')
            span.radio__button
              +svg('radio_ic')
            ins.radio__text
              | Radiobutton
        .formField
          label.radio
            input(type='radio' name='radio')
            span.radio__button
              +svg('radio_ic')
            ins.radio__text
              | Radiobutton
        .formField.disabled
          label.radio
            input(type='radio' name='radio' disabled)
            span.radio__button
              +svg('radio_ic')
            ins.radio__text
              | Radiobutton

    div(style="width: 100%; display: flex; justify-content: space-between; margin-bottom: 70px;")
      div(style="width: 165px; margin-right: 40px;")
        a.button.sendBtn(style="margin-bottom: 20px;" href="#")
          | Отправить
        button.button.sendBtn
          | Отправить
      div(style="width: 370px;")
        a.button.navBtn(style="margin-bottom: 20px;" href="#")
          span Кубки
          .navBtn__icons
            +svg('cup_small_ic').iconCategory
            +svg('arrow_right_ic').iconRightArrow
        a.button.navBtn(href="#")
          span Кубки
          .navBtn__icons
            +svg('cup_small_ic').iconCategory
            +svg('arrow_right_ic').iconRightArrow
      div(style="width: 206px;")
        a.button.moreBtn(style="margin-bottom: 20px;" href="#")
          | Подробнее
        button.button.moreBtn
          | Подробнее
      div(style="width: 165px; padding-left: 20px; display: flex;justify-content: space-between; position: relative;")
        button.slick-arrow.slick-prev(style="left: 20px;")
        button.slick-arrow.slick-next(style="right: 0;")
