build/001_Index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <meta name="og:type" content="website">
    <meta name="og:url" content="">
    <meta name="og:title" content="Мастерские пинчука - Главная">
    <meta name="og:description" content="">
    <meta name="og:image" content="">
    <meta name="og:locale" content="ru_RU">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Мастерские пинчука - Главная">
    <meta name="twitter:description" content="">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <title>Мастерские пинчука - Главная</title>
    <link rel="apple-touch-icon" sizes="57x57" href="./images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
    <link rel="icon" type="image/png" href="./images/favicon.png">
    <link rel="stylesheet" type="text/css" href="css/font.css">
    <link rel="stylesheet" type="text/css" href="css/vendor.css">
    <link rel="stylesheet" type="text/css" href="css/popup.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/once_slider.css">
    <link rel="stylesheet" type="text/css" href="css/several_slider.css">
    <link rel="stylesheet" type="text/css" href="css/product_item.css">
    <link rel="stylesheet" type="text/css" href="css/article_preview.css">
    <link rel="stylesheet" type="text/css" href="css/template_styles.css">
  </head>
  <body>
    <div class="wrapper index" id="wrapper">
      <header class="mainHeader">
        <div class="container">
          <div class="mainHeader__top">
            <div class="searchOverlay js-search-overlay"></div><a class="mainHeader__logo" href="#">
              <svg>
                <use xlink:href="images/sprites.svg#logo"></use>
              </svg></a>
            <div class="mainHeader__menuBtn js-menu-btn">
              <div class="div"><span></span><span></span></div>
              <div class="div"><span></span><span></span></div>
              <div class="div"><span></span><span></span></div>
            </div><a class="mainHeader__menuBtn mainHeader__menuBtn--link js-scrollLink" href="/#menu">
              <div class="div"><span></span><span></span></div>
              <div class="div"><span></span><span></span></div>
              <div class="div"><span></span><span></span></div></a>
            <div class="mainHeader__contacts"><a class="mainHeader__contactsEmail" href="mailto:nagradi@mail.ru"><span>nagradi@mail.ru</span></a><a class="mainHeader__contactsPhone" href="tel:89000000000">8 900 000 00 00</a></div>
            <div class="mainHeader__buttons"><a class="js-show-popup mainHeader__contactsPopupBtn" href="javascript:void(0);" data-form-class="requestCall">
                <svg>
                  <use xlink:href="images/sprites.svg#phone_ic"></use>
                </svg></a>
              <form class="mainHeader__searchBox" action="/" method="POST">
                <input class="mainHeader__contactsSearch js-search-input" type="text" placeholder="Поиск">
                <button class="mainHeader__contactsSearchBtn js-search-show" type="button">
                  <svg>
                    <use xlink:href="images/sprites.svg#search_ic"></use>
                  </svg>
                </button>
              </form>
            </div>
          </div>
          <section class="promo">
            <div class="container">
              <div class="promo__medal js-3d-medal"></div>
              <div class="promo__title">
                <h1>Вся наградная продукция</h1>
              </div>
              <div class="promo__description">
                <h5>Фронтальная сторона</h5>
                <p>Nulla facilisi. Cras id dictum urna. Nam in scelerisque ligula, ut feugiat metus.</p><a class="button moreBtn" href="#"><span>Заказать такую же</span></a>
              </div>
            </div>
          </section>
          <nav class="mainHeader__menu js-menu" id="menu">
            <svg class="mainHeader__menuBg">
              <use xlink:href="images/sprites.svg#menu"></use>
            </svg>
            <ul class="mainHeader__menuList">
              <li class="mainHeader__menuItem"><a class="mainHeader__menuLink" href="#">Каталог</a></li>
              <li class="mainHeader__menuItem"><a class="mainHeader__menuLink" href="#">Оплата и доставка</a></li>
              <li class="mainHeader__menuItem"><a class="mainHeader__menuLink" href="#">О компании</a></li>
              <li class="mainHeader__menuItem"><a class="mainHeader__menuLink" href="#">Новости</a></li>
              <li class="mainHeader__menuItem"><a class="mainHeader__menuLink" href="#">Акции</a></li>
              <li class="mainHeader__menuItem"><a class="mainHeader__menuLink" href="#">Контакты</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <main class="content-container">
        <div class="demo">
          <div class="demo__bg"></div>
          <div class="container">
            <nav class="demo__navigation"><a class="button navBtn demo__navigationLink" href="#"><span>Кубки</span>
                <div class="navBtn__icons">
                  <svg class="iconCategory">
                    <use xlink:href="images/sprites.svg#cup_small_ic"></use>
                  </svg>
                  <svg class="iconRightArrow">
                    <use xlink:href="images/sprites.svg#arrow_right_ic"></use>
                  </svg>
                </div></a><a class="button navBtn demo__navigationLink" href="#"><span>Медали</span>
                <div class="navBtn__icons">
                  <svg class="iconCategory">
                    <use xlink:href="images/sprites.svg#medal_ic"></use>
                  </svg>
                  <svg class="iconRightArrow">
                    <use xlink:href="images/sprites.svg#arrow_right_ic"></use>
                  </svg>
                </div></a><a class="button navBtn demo__navigationLink" href="#"><span>Панно</span>
                <div class="navBtn__icons">
                  <svg class="iconCategory">
                    <use xlink:href="images/sprites.svg#panel_ic"></use>
                  </svg>
                  <svg class="iconRightArrow">
                    <use xlink:href="images/sprites.svg#arrow_right_ic"></use>
                  </svg>
                </div></a><a class="button navBtn demo__navigationLink" href="#"><span>Статуэтки</span>
                <div class="navBtn__icons">
                  <svg class="iconCategory">
                    <use xlink:href="images/sprites.svg#rewars_ic"></use>
                  </svg>
                  <svg class="iconRightArrow">
                    <use xlink:href="images/sprites.svg#arrow_right_ic"></use>
                  </svg>
                </div></a><a class="button sendBtn" href="#">Все категории</a></nav>
            <div class="demo__slider">
              <div class="onceSlider js-once-slider">
                <div class="onceSlider__item">
                  <div class="onceSlider__image"><img class="js-img" src="./images/slider_photo.jpg" alt=""></div>
                  <div class="onceSlider__text">
                    <p>Кубки <br>для детских соревнований</p>
                  </div><a class="button moreBtn" href="#"><span>Подробнее</span></a>
                </div>
                <div class="onceSlider__item">
                  <div class="onceSlider__image"><img class="js-img" src="./images/slider_photo.jpg" alt=""></div>
                  <div class="onceSlider__text">
                    <p>Кубки для детских соревнований 2</p>
                  </div><a class="button moreBtn" href="#"><span>Подробнее</span></a>
                </div>
              </div>
            </div>
            <div class="demo__popular">
              <div class="demo__popularTitle"><span>Популярное</span></div>
              <div class="severalSlider js-several-slider">
                <div class="productItem productItem--stock">
                  <div class="productItem__borderTop"></div>
                  <div class="productItem__borderBottom"></div>
                  <div class="productItem__action"><span>Акция</span></div><a class="productItem__img" href="#"><img class="js-img" src="./images/medal_slider.png" alt=""></a><a class="productItem__title" href="#"><span>Медаль золотая<br>«Первое место за бег»</span></a>
                  <div class="productItem__number"><span>Артикул: </span><span>54656574</span></div>
                  <div class="productItem__footer">
                    <div class="productItem__params">
                      <div class="productItem__param">
                        <div class="productItem__paramIc productItem__paramIc--gold"></div><span class="productItem__paramSize">30 см</span><span class="productItem__paramPrice">1220
                          <svg class="rub">
                            <use xlink:href="images/sprites.svg#rub"></use>
                          </svg></span>
                      </div>
                      <div class="productItem__param">
                        <div class="productItem__paramIc productItem__paramIc--silver"></div><span class="productItem__paramSize">30 см</span><span class="productItem__paramPrice">1220
                          <svg class="rub">
                            <use xlink:href="images/sprites.svg#rub"></use>
                          </svg></span>
                      </div>
                      <div class="productItem__param">
                        <div class="productItem__paramIc productItem__paramIc--bronze"></div><span class="productItem__paramSize">30 см</span><span class="productItem__paramPrice">1220
                          <svg class="rub">
                            <use xlink:href="images/sprites.svg#rub"></use>
                          </svg></span>
                      </div>
                    </div><a class="button moreBtn" href="#"><span>Купить</span></a>
                  </div>
                </div>
                <div class="productItem">
                  <div class="productItem__borderTop"></div>
                  <div class="productItem__borderBottom"></div><a class="productItem__img" href="#"><img class="js-img" src="./images/medal_slider.png" alt=""></a><a class="productItem__title" href="#"><span>Медаль золотая<br>«Первое место за бег»</span></a>
                  <div class="productItem__number"><span>Артикул: </span><span>54656574</span></div>
                  <div class="productItem__footer">
                    <div class="productItem__params">
                      <div class="productItem__param">
                        <div class="productItem__paramIc productItem__paramIc--gold"></div><span class="productItem__paramSize">30 см</span><span class="productItem__paramPrice">1220
                          <svg class="rub">
                            <use xlink:href="images/sprites.svg#rub"></use>
                          </svg></span>
                      </div>
                      <div class="productItem__param">
                        <div class="productItem__paramIc productItem__paramIc--silver"></div><span class="productItem__paramSize">30 см</span><span class="productItem__paramPrice">1220
                          <svg class="rub">
                            <use xlink:href="images/sprites.svg#rub"></use>
                          </svg></span>
                      </div>
                      <div class="productItem__param">
                        <div class="productItem__paramIc productItem__paramIc--bronze"></div><span class="productItem__paramSize">30 см</span><span class="productItem__paramPrice">1220
                          <svg class="rub">
                            <use xlink:href="images/sprites.svg#rub"></use>
                          </svg></span>
                      </div>
                    </div><a class="button moreBtn" href="#"><span>Купить</span></a>
                  </div>
                </div>
                <div class="productItem">
                  <div class="productItem__borderTop"></div>
                  <div class="productItem__borderBottom"></div><a class="productItem__img" href="#"><img class="js-img" src="./images/medal_slider.png" alt=""></a><a class="productItem__title" href="#"><span>Медаль золотая<br>«Первое место за бег»</span></a>
                  <div class="productItem__number"><span>Артикул: </span><span>54656574</span></div>
                  <div class="productItem__footer">
                    <div class="productItem__params">
                      <div class="productItem__param">
                        <div class="productItem__paramIc productItem__paramIc--gold"></div><span class="productItem__paramSize">30 см</span><span class="productItem__paramPrice">1220
                          <svg class="rub">
                            <use xlink:href="images/sprites.svg#rub"></use>
                          </svg></span>
                      </div>
                      <div class="productItem__param">
                        <div class="productItem__paramIc productItem__paramIc--silver"></div><span class="productItem__paramSize">30 см</span><span class="productItem__paramPrice">1220
                          <svg class="rub">
                            <use xlink:href="images/sprites.svg#rub"></use>
                          </svg></span>
                      </div>
                      <div class="productItem__param">
                        <div class="productItem__paramIc productItem__paramIc--bronze"></div><span class="productItem__paramSize">30 см</span><span class="productItem__paramPrice">1220
                          <svg class="rub">
                            <use xlink:href="images/sprites.svg#rub"></use>
                          </svg></span>
                      </div>
                    </div><a class="button moreBtn" href="#"><span>Купить</span></a>
                  </div>
                </div>
                <div class="productItem">
                  <div class="productItem__borderTop"></div>
                  <div class="productItem__borderBottom"></div><a class="productItem__img" href="#"><img class="js-img" src="./images/medal_slider.png" alt=""></a><a class="productItem__title" href="#"><span>Медаль золотая<br>«Первое место за бег»</span></a>
                  <div class="productItem__number"><span>Артикул: </span><span>54656574</span></div>
                  <div class="productItem__footer">
                    <div class="productItem__params">
                      <div class="productItem__param">
                        <div class="productItem__paramIc productItem__paramIc--gold"></div><span class="productItem__paramSize">30 см</span><span class="productItem__paramPrice">1220
                          <svg class="rub">
                            <use xlink:href="images/sprites.svg#rub"></use>
                          </svg></span>
                      </div>
                      <div class="productItem__param">
                        <div class="productItem__paramIc productItem__paramIc--silver"></div><span class="productItem__paramSize">30 см</span><span class="productItem__paramPrice">1220
                          <svg class="rub">
                            <use xlink:href="images/sprites.svg#rub"></use>
                          </svg></span>
                      </div>
                      <div class="productItem__param">
                        <div class="productItem__paramIc productItem__paramIc--bronze"></div><span class="productItem__paramSize">30 см</span><span class="productItem__paramPrice">1220
                          <svg class="rub">
                            <use xlink:href="images/sprites.svg#rub"></use>
                          </svg></span>
                      </div>
                    </div><a class="button moreBtn" href="#"><span>Купить</span></a>
                  </div>
                </div>
              </div><a class="button sendBtn" href="#">Все товары</a>
            </div>
          </div>
        </div>
        <section class="stockNews">
          <div class="stockNews__bg"></div>
          <div class="container">
            <div class="stockNews__stock">
              <div class="stockNews__title"><span>Акции</span></div>
              <div class="articlePreviews">
                <article class="articlePreview articlePreview--stock"><a class="articlePreview__img" href="#"><img class="js-img" src="./images/stock_1.jpg" alt=""></a>
                  <div class="articlePreview__text"><a href="#">
                      <h5 class="articlePreview__title">Все кубки<br>со скидкой 25%</h5></a>
                    <div class="articlePreview__footer">
                      <div class="articlePreview__date"><span>Сроки акции:</span><span>01.02.2018 — 30.04.2018</span></div><a class="articlePreview__readMore" href="#">Читать подробнее
                        <svg>
                          <use xlink:href="images/sprites.svg#arrow_right_ic"></use>
                        </svg></a>
                    </div>
                  </div>
                </article>
                <article class="articlePreview articlePreview--stock hidden-block"><a class="articlePreview__img" href="#"><img class="js-img" src="./images/stock_2.jpg" alt=""></a>
                  <div class="articlePreview__text"><a href="#">
                      <h5 class="articlePreview__title">Все кубки<br>со скидкой 25%</h5></a>
                    <div class="articlePreview__footer">
                      <div class="articlePreview__date"><span>Сроки акции:</span><span>01.02.2018 — 30.04.2018</span></div><a class="articlePreview__readMore" href="#">Читать подробнее
                        <svg>
                          <use xlink:href="images/sprites.svg#arrow_right_ic"></use>
                        </svg></a>
                    </div>
                  </div>
                </article><a class="articlePreviews__allBtn articlePreviews__allBtn--stock" href="#"><span>Все акции</span></a>
              </div>
            </div>
            <div class="stockNews__news">
              <div class="stockNews__title"><span>Новости</span></div>
              <div class="articlePreviews">
                <article class="articlePreview articlePreview--new">
                  <div class="articlePreview__img"><img class="js-img" src="./images/new_2.jpg" alt=""></div>
                  <div class="articlePreview__text">
                    <h5 class="articlePreview__title">В ассортименте появились бронзовые медали</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan scelerisque sapien eu mollis. <br>Sed vitae cursus neque.</p>
                    <div class="articlePreview__footer"><span class="articlePreview__date">30.01.2018</span><a class="articlePreview__readMore" href="#">Читать подробнее
                        <svg>
                          <use xlink:href="images/sprites.svg#arrow_right_ic"></use>
                        </svg></a></div>
                  </div>
                </article>
                <article class="articlePreview articlePreview--new hidden-block">
                  <div class="articlePreview__img"><img class="js-img" src="./images/new1.jpg" alt=""></div>
                  <div class="articlePreview__text">
                    <h5 class="articlePreview__title">В ассортименте появились бронзовые медали</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan scelerisque sapien eu mollis. <br>Sed vitae cursus neque.</p>
                    <div class="articlePreview__footer"><span class="articlePreview__date">30.01.2018</span><a class="articlePreview__readMore" href="#">Читать подробнее
                        <svg>
                          <use xlink:href="images/sprites.svg#arrow_right_ic"></use>
                        </svg></a></div>
                  </div>
                </article><a class="articlePreviews__allBtn articlePreviews__allBtn--news" href="#"><span>Все новости</span></a>
              </div>
            </div>
          </div>
        </section>
        <section class="aboutCompany">
          <div class="container">
            <div class="aboutCompany__box">
              <div class="aboutCompany__title">
                <h2>о компании</h2>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis. Vivamus eu hendrerit justo. Curabitur tristique dictum placerat. Duis sollicitudin et leo ut euismod. Aliquam quis faucibus eros. Nullam sed tempor lectus, id fringilla ex. Nam tortor augue, euismod sed lacus id, sollicitudin euismod magna. Suspendisse semper fermentum tortor, quis dapibus nulla congue ac.</p>
              <p>Ut finibus, ex at aliquet pellentesque, eros odio varius diam, quis aliquam leo sem et lectus. Nulla a lacus et nisi congue sagittis a eu est. Sed sed libero pretium mauris rhoncus faucibus a sit amet dui. Aliquam at condimentum sem. Phasellus auctor tempor auctor. Pellentesque id ex gravida, auctor risus in, tempus nisl. Maecenas dolor massa, finibus vitae leo quis, lobortis cursus lorem. Maecenas suscipit est diam, in molestie lacus luctus vel. </p><a class="button moreBtn" href="#"><span>Заказать консультацию</span></a>
            </div>
          </div><a class="scrollLink js-scrollLink" href="/#wrapper">
            <svg>
              <use xlink:href="images/sprites.svg#arrow_right_ic"></use>
            </svg></a>
        </section>
      </main>
      <div class="mainFooter">
        <div class="container">
          <div class="mainFooter__top">
            <nav class="mainFooter__menu">
              <ul class="mainFooter__menuList">
                <li class="mainFooter__menuItem"><a class="mainFooter__menuLink" href="#">Каталог</a></li>
                <li class="mainFooter__menuItem"><a class="mainFooter__menuLink" href="#">Оплата и доставка</a></li>
                <li class="mainFooter__menuItem"><a class="mainFooter__menuLink" href="#">О компании</a></li>
                <li class="mainFooter__menuItem"><a class="mainFooter__menuLink" href="#">Новости</a></li>
                <li class="mainFooter__menuItem"><a class="mainFooter__menuLink" href="#">Акции</a></li>
                <li class="mainFooter__menuItem"><a class="mainFooter__menuLink" href="#">Контакты</a></li>
              </ul>
            </nav>
            <div class="mainFooter__row"><a class="mainFooter__logo" href="#">
                <svg>
                  <use xlink:href="images/sprites.svg#logo_footer"></use>
                </svg></a>
              <div class="mainFooter__contacts"><a class="mainFooter__contactsPhone" href="mailto:nagradi@mail.ru"><span>nagradi@mail.ru</span></a><a class="mainFooter__contactsEmail" href="tel:89000000000"><span>8 900 000 00 00</span></a></div>
              <div class="mainFooter__social">
                <div class="mainFooter__socialTitle"><span>Поделиться в соц. сетях:</span></div>
                <ul>
                  <li><a class="mainFooter__socialIcon mainFooter__socialIcon--vk" href="#">
                      <svg>
                        <use xlink:href="images/sprites.svg#vk_ic"></use>
                      </svg></a></li>
                  <li><a class="mainFooter__socialIcon mainFooter__socialIcon--fb" href="#">
                      <svg>
                        <use xlink:href="images/sprites.svg#fb_ic"></use>
                      </svg></a></li>
                  <li><a class="mainFooter__socialIcon mainFooter__socialIcon--tw" href="#">
                      <svg>
                        <use xlink:href="images/sprites.svg#tw_ic"></use>
                      </svg></a></li>
                  <li><a class="mainFooter__socialIcon mainFooter__socialIcon--ok" href="#">
                      <svg>
                        <use xlink:href="images/sprites.svg#ok_ic"></use>
                      </svg></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="mainFooter__bottom">
          <div class="container">
            <div class="mainFooter__bottomCopyright">
              <p>&copy; 2017 — 2018 ООО «Мастерские пинчука»</p><a href="#">Сайт разработан «КРИТ»</a>
            </div>
          </div>
        </div>
      </div>
      <div class="popUpForm hidden-block js-requestCall">
        <div class="popUpForm__block"><a class="popUpForm__close js-close-form" href="#">
            <svg>
              <use xlink:href="images/sprites.svg#close_ic"></use>
            </svg></a>
          <div class="container-fluid">
            <div class="row">
              <div class="popUpForm__container">
                <form>
                  <input class="formName" type="hidden" name="_">
                  <h5 class="popUpForm__title">
                     Связаться с нами</h5>
                  <div class="popUpForm__field formField js-formField"><span class="formField__title">ФИО<ins class="popUpForm__required">*</ins></span>
                    <input type="text" name="text" data-validation="required" data-error-msg="Пожалуйста, заполните поле" data-validation-error-msg=" ">
                  </div>
                  <div class="popUpForm__field formField js-formField"><span class="formField__title">Телефон<ins class="popUpForm__required">*</ins></span>
                    <input class="js-phoneInput" type="text" name="text-name" data-validation="required" data-error-msg="Пожалуйста, заполните поле" data-validation-error-msg=" ">
                  </div>
                  <div class="popUpForm__field popUpForm__field--textarea formField"><span class="formField__title">Сообщение</span>
                    <textarea rows="3"></textarea>
                  </div>
                  <footer class="popUpForm__footer">
                    <div class="popUpForm__field formField">
                      <label class="checkbox">
                        <input type="checkbox" name="checkbox" data-validation="required"><span class="checkbox__button">
                          <svg>
                            <use xlink:href="images/sprites.svg#checkbox_ic"></use>
                          </svg></span><ins class="checkbox__text">Я даю согласие на хранение и обработку своих персональных данных. <br><a href="#">Соглашение</a></ins>
                      </label>
                      <button class="button sendBtn">Отправить</button>
                    </div>
                  </footer>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/libs/vendor.js"></script>
    <script src="js/once_slider.js"></script>
    <script src="js/several_slider.js"></script>
    <script src="js/3d_model.js"></script>
    <script src="js/pop_up.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>

src/001_Index.pug
extends pug/base

append vars
  - htmlClass = 'index'
  - url = ''
  - title = 'Мастерские пинчука - Главная'
  - description = ''
  - twitterTitle = ''
  - twitterDescription = ''
  - image = ''
  - breadcrumbs = false
  - promo = true
  - linkCssAttrs = ["css/index.css", "css/once_slider.css", "css/several_slider.css", "css/product_item.css", "css/article_preview.css"]
  - linkJsAttrs = ["js/once_slider.js", "js/several_slider.js", "js/3d_model.js"]

block content
  .demo
    .demo__bg
    .container
      nav.demo__navigation
        a.button.navBtn.demo__navigationLink(href="#")
          span Кубки
          .navBtn__icons
            +svg('cup_small_ic').iconCategory
            +svg('arrow_right_ic').iconRightArrow
        a.button.navBtn.demo__navigationLink(href="#")
          span Медали
          .navBtn__icons
            +svg('medal_ic').iconCategory
            +svg('arrow_right_ic').iconRightArrow
        a.button.navBtn.demo__navigationLink(href="#")
          span Панно
          .navBtn__icons
            +svg('panel_ic').iconCategory
            +svg('arrow_right_ic').iconRightArrow
        a.button.navBtn.demo__navigationLink(href="#")
          span Статуэтки
          .navBtn__icons
            +svg('rewars_ic').iconCategory
            +svg('arrow_right_ic').iconRightArrow
        a(href="#").button.sendBtn
          | Все категории
      .demo__slider
        .onceSlider.js-once-slider
          .onceSlider__item
            .onceSlider__image
              img.js-img(src="./images/slider_photo.jpg" alt="")
            .onceSlider__text
              p
                | Кубки 
                br
                | для детских соревнований
            a(href="#").button.moreBtn
              span Подробнее
          .onceSlider__item
            .onceSlider__image
              img.js-img(src="./images/slider_photo.jpg" alt="")
            .onceSlider__text
              p
                | Кубки для детских соревнований 2
            a(href="#").button.moreBtn
              span Подробнее
      .demo__popular
        .demo__popularTitle
          span
            | Популярное
        .severalSlider.js-several-slider
          .productItem.productItem--stock
            .productItem__borderTop
            .productItem__borderBottom
            .productItem__action
              span
                | Акция
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a(href="#").button.moreBtn
                span Купить
          .productItem
            .productItem__borderTop
            .productItem__borderBottom
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a(href="#").button.moreBtn
                span Купить
          .productItem
            .productItem__borderTop
            .productItem__borderBottom
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a(href="#").button.moreBtn
                span Купить
          .productItem
            .productItem__borderTop
            .productItem__borderBottom
            a.productItem__img(href="#")
              img.js-img(src="./images/medal_slider.png" alt="")
            a.productItem__title(href="#")
              span
                | Медаль золотая
                br
                | «Первое место за бег»
            .productItem__number
              span
                | Артикул: 
              span
                | 54656574
            .productItem__footer
              .productItem__params
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--gold
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--silver
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
                .productItem__param
                  .productItem__paramIc.productItem__paramIc--bronze
                  span.productItem__paramSize
                    | 30 см
                  span.productItem__paramPrice
                    | 1220
                    +svg('rub').rub
              a(href="#").button.moreBtn
                span Купить
        a(href="#").button.sendBtn
          | Все товары
  section.stockNews
    .stockNews__bg
    .container
      .stockNews__stock
        .stockNews__title
          span
            | Акции
        .articlePreviews
          article.articlePreview.articlePreview--stock
            a.articlePreview__img(href="#")
              img.js-img(src="./images/stock_1.jpg" alt="")
            .articlePreview__text
              a(href="#")
                h5.articlePreview__title
                  | Все кубки
                  br
                  | со скидкой 25%
              .articlePreview__footer
                .articlePreview__date
                  span
                    | Сроки акции:
                  span
                    | 01.02.2018 — 30.04.2018
                a(href="#").articlePreview__readMore
                  | Читать подробнее
                  +svg('arrow_right_ic')
          article.articlePreview.articlePreview--stock.hidden-block
            a.articlePreview__img(href="#")
              img.js-img(src="./images/stock_2.jpg" alt="")
            .articlePreview__text
              a(href="#")
                h5.articlePreview__title
                  | Все кубки
                  br
                  | со скидкой 25%
              .articlePreview__footer
                .articlePreview__date
                  span
                    | Сроки акции:
                  span
                    | 01.02.2018 — 30.04.2018
                a(href="#").articlePreview__readMore
                  | Читать подробнее
                  +svg('arrow_right_ic')
          a.articlePreviews__allBtn.articlePreviews__allBtn--stock(href="#")
            span Все акции
      .stockNews__news
        .stockNews__title
          span
            | Новости
        .articlePreviews
          article.articlePreview.articlePreview--new
            .articlePreview__img
              img.js-img(src="./images/new_2.jpg" alt="")
            .articlePreview__text
              h5.articlePreview__title
                | В ассортименте появились бронзовые медали
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan scelerisque sapien eu mollis. 
                br
                | Sed vitae cursus neque.
              .articlePreview__footer
                span.articlePreview__date
                  | 30.01.2018
                a(href="#").articlePreview__readMore
                  | Читать подробнее
                  +svg('arrow_right_ic')
          article.articlePreview.articlePreview--new.hidden-block
            .articlePreview__img
              img.js-img(src="./images/new1.jpg" alt="")
            .articlePreview__text
              h5.articlePreview__title
                | В ассортименте появились бронзовые медали
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan scelerisque sapien eu mollis. 
                br
                | Sed vitae cursus neque.
              .articlePreview__footer
                span.articlePreview__date
                  | 30.01.2018
                a(href="#").articlePreview__readMore
                  | Читать подробнее
                  +svg('arrow_right_ic')
          a.articlePreviews__allBtn.articlePreviews__allBtn--news(href="#")
            span Все новости
  section.aboutCompany
    .container
      .aboutCompany__box
        .aboutCompany__title
          h2
            | о компании
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet cursus lorem, id dignissim ex euismod eget. Cras commodo justo id mauris pellentesque, ac sollicitudin sem venenatis. Vivamus eu hendrerit justo. Curabitur tristique dictum placerat. Duis sollicitudin et leo ut euismod. Aliquam quis faucibus eros. Nullam sed tempor lectus, id fringilla ex. Nam tortor augue, euismod sed lacus id, sollicitudin euismod magna. Suspendisse semper fermentum tortor, quis dapibus nulla congue ac.
        p
          | Ut finibus, ex at aliquet pellentesque, eros odio varius diam, quis aliquam leo sem et lectus. Nulla a lacus et nisi congue sagittis a eu est. Sed sed libero pretium mauris rhoncus faucibus a sit amet dui. Aliquam at condimentum sem. Phasellus auctor tempor auctor. Pellentesque id ex gravida, auctor risus in, tempus nisl. Maecenas dolor massa, finibus vitae leo quis, lobortis cursus lorem. Maecenas suscipit est diam, in molestie lacus luctus vel. 
        a.button.moreBtn(href="#")
          span Заказать консультацию
    a.scrollLink.js-scrollLink(href="/#wrapper")
      +svg('arrow_right_ic')
