build/003_404.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <meta name="og:type" content="website">
    <meta name="og:url" content="">
    <meta name="og:title" content="Мастерские пинчука - 404">
    <meta name="og:description" content="">
    <meta name="og:image" content="">
    <meta name="og:locale" content="ru_RU">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Мастерские пинчука - 404">
    <meta name="twitter:description" content="">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <title>Мастерские пинчука - 404</title>
    <link rel="apple-touch-icon" sizes="57x57" href="./images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
    <link rel="icon" type="image/png" href="./images/favicon.png">
    <link rel="stylesheet" type="text/css" href="css/font.css">
    <link rel="stylesheet" type="text/css" href="css/vendor.css">
    <link rel="stylesheet" type="text/css" href="css/popup.css">
    <link rel="stylesheet" type="text/css" href="css/404.css">
    <link rel="stylesheet" type="text/css" href="css/template_styles.css">
  </head>
  <body>
    <div class="wrapper fourHundredFourWrapper" id="wrapper">
      <header class="mainHeader">
        <div class="container">
          <div class="mainHeader__top">
            <div class="searchOverlay js-search-overlay"></div><a class="mainHeader__logo" href="#">
              <svg>
                <use xlink:href="images/sprites.svg#logo"></use>
              </svg></a>
            <div class="mainHeader__menuBtn js-menu-btn">
              <div class="div"><span></span><span></span></div>
              <div class="div"><span></span><span></span></div>
              <div class="div"><span></span><span></span></div>
            </div><a class="mainHeader__menuBtn mainHeader__menuBtn--link js-scrollLink" href="/#menu">
              <div class="div"><span></span><span></span></div>
              <div class="div"><span></span><span></span></div>
              <div class="div"><span></span><span></span></div></a>
            <div class="mainHeader__contacts"><a class="mainHeader__contactsEmail" href="mailto:nagradi@mail.ru"><span>nagradi@mail.ru</span></a><a class="mainHeader__contactsPhone" href="tel:89000000000">8 900 000 00 00</a></div>
            <div class="mainHeader__buttons"><a class="js-show-popup mainHeader__contactsPopupBtn" href="javascript:void(0);" data-form-class="requestCall">
                <svg>
                  <use xlink:href="images/sprites.svg#phone_ic"></use>
                </svg></a>
              <form class="mainHeader__searchBox" action="/" method="POST">
                <input class="mainHeader__contactsSearch js-search-input" type="text" placeholder="Поиск">
                <button class="mainHeader__contactsSearchBtn js-search-show" type="button">
                  <svg>
                    <use xlink:href="images/sprites.svg#search_ic"></use>
                  </svg>
                </button>
              </form>
            </div>
          </div>
          <nav class="mainHeader__menu js-menu" id="menu">
            <svg class="mainHeader__menuBg">
              <use xlink:href="images/sprites.svg#menu"></use>
            </svg>
            <ul class="mainHeader__menuList">
              <li class="mainHeader__menuItem"><a class="mainHeader__menuLink" href="#">Каталог</a></li>
              <li class="mainHeader__menuItem"><a class="mainHeader__menuLink" href="#">Оплата и доставка</a></li>
              <li class="mainHeader__menuItem"><a class="mainHeader__menuLink" href="#">О компании</a></li>
              <li class="mainHeader__menuItem"><a class="mainHeader__menuLink" href="#">Новости</a></li>
              <li class="mainHeader__menuItem"><a class="mainHeader__menuLink" href="#">Акции</a></li>
              <li class="mainHeader__menuItem"><a class="mainHeader__menuLink" href="#">Контакты</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <main class="content-container">
        <div class="fourHundredFour">
          <div class="container">
            <div class="fourHundredFour__logo">
              <svg>
                <use xlink:href="images/sprites.svg#404"></use>
              </svg>
            </div>
            <div class="fourHundredFour__box">
              <div class="fourHundredFour__title"><span>Ошибка</span><span>Страница не найдена</span></div>
              <div class="fourHundredFour__text"><span class="fourHundredFour__subtitle">Возможные причины ошибки:</span>
                <ul class="fourHundredFour__list">
                  <li class="fourHundredFour__listItem">ошибка при наборе адреса страницы (URL);</li>
                  <li class="fourHundredFour__listItem">переход по неработающей или  неправильной ссылке;</li>
                  <li class="fourHundredFour__listItem">отсутствие запрашиваемой страницы на сайте.</li>
                </ul>
              </div>
              <div class="fourHundredFour__buttons"><a class="fourHundredFour__link button sendBtn" href="#">На главную</a><a class="fourHundredFour__link fourHundredFour__link--red button sendBtn" href="#">В каталог</a></div>
            </div>
          </div>
        </div>
      </main>
      <div class="mainFooter">
        <div class="container">
          <div class="mainFooter__top">
            <nav class="mainFooter__menu">
              <ul class="mainFooter__menuList">
                <li class="mainFooter__menuItem"><a class="mainFooter__menuLink" href="#">Каталог</a></li>
                <li class="mainFooter__menuItem"><a class="mainFooter__menuLink" href="#">Оплата и доставка</a></li>
                <li class="mainFooter__menuItem"><a class="mainFooter__menuLink" href="#">О компании</a></li>
                <li class="mainFooter__menuItem"><a class="mainFooter__menuLink" href="#">Новости</a></li>
                <li class="mainFooter__menuItem"><a class="mainFooter__menuLink" href="#">Акции</a></li>
                <li class="mainFooter__menuItem"><a class="mainFooter__menuLink" href="#">Контакты</a></li>
              </ul>
            </nav>
            <div class="mainFooter__row"><a class="mainFooter__logo" href="#">
                <svg>
                  <use xlink:href="images/sprites.svg#logo_footer"></use>
                </svg></a>
              <div class="mainFooter__contacts"><a class="mainFooter__contactsPhone" href="mailto:nagradi@mail.ru"><span>nagradi@mail.ru</span></a><a class="mainFooter__contactsEmail" href="tel:89000000000"><span>8 900 000 00 00</span></a></div>
              <div class="mainFooter__social">
                <div class="mainFooter__socialTitle"><span>Поделиться в соц. сетях:</span></div>
                <ul>
                  <li><a class="mainFooter__socialIcon mainFooter__socialIcon--vk" href="#">
                      <svg>
                        <use xlink:href="images/sprites.svg#vk_ic"></use>
                      </svg></a></li>
                  <li><a class="mainFooter__socialIcon mainFooter__socialIcon--fb" href="#">
                      <svg>
                        <use xlink:href="images/sprites.svg#fb_ic"></use>
                      </svg></a></li>
                  <li><a class="mainFooter__socialIcon mainFooter__socialIcon--tw" href="#">
                      <svg>
                        <use xlink:href="images/sprites.svg#tw_ic"></use>
                      </svg></a></li>
                  <li><a class="mainFooter__socialIcon mainFooter__socialIcon--ok" href="#">
                      <svg>
                        <use xlink:href="images/sprites.svg#ok_ic"></use>
                      </svg></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="mainFooter__bottom">
          <div class="container">
            <div class="mainFooter__bottomCopyright">
              <p>&copy; 2017 — 2018 ООО «Мастерские пинчука»</p><a href="#">Сайт разработан «КРИТ»</a>
            </div>
          </div>
        </div>
      </div>
      <div class="popUpForm hidden-block js-requestCall">
        <div class="popUpForm__block"><a class="popUpForm__close js-close-form" href="#">
            <svg>
              <use xlink:href="images/sprites.svg#close_ic"></use>
            </svg></a>
          <div class="container-fluid">
            <div class="row">
              <div class="popUpForm__container">
                <form>
                  <input class="formName" type="hidden" name="_">
                  <h5 class="popUpForm__title">
                     Связаться с нами</h5>
                  <div class="popUpForm__field formField js-formField"><span class="formField__title">ФИО<ins class="popUpForm__required">*</ins></span>
                    <input type="text" name="text" data-validation="required" data-error-msg="Пожалуйста, заполните поле" data-validation-error-msg=" ">
                  </div>
                  <div class="popUpForm__field formField js-formField"><span class="formField__title">Телефон<ins class="popUpForm__required">*</ins></span>
                    <input class="js-phoneInput" type="text" name="text-name" data-validation="required" data-error-msg="Пожалуйста, заполните поле" data-validation-error-msg=" ">
                  </div>
                  <div class="popUpForm__field popUpForm__field--textarea formField"><span class="formField__title">Сообщение</span>
                    <textarea rows="3"></textarea>
                  </div>
                  <footer class="popUpForm__footer">
                    <div class="popUpForm__field formField">
                      <label class="checkbox">
                        <input type="checkbox" name="checkbox" data-validation="required"><span class="checkbox__button">
                          <svg>
                            <use xlink:href="images/sprites.svg#checkbox_ic"></use>
                          </svg></span><ins class="checkbox__text">Я даю согласие на хранение и обработку своих персональных данных. <br><a href="#">Соглашение</a></ins>
                      </label>
                      <button class="button sendBtn">Отправить</button>
                    </div>
                  </footer>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/libs/vendor.js"></script>
    <script src="js/pop_up.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>

src/003_404.pug
extends pug/base

append vars
  - htmlClass = 'fourHundredFourWrapper'
  - url = ''
  - title = 'Мастерские пинчука - 404'
  - description = ''
  - twitterTitle = ''
  - twitterDescription = ''
  - image = ''
  - breadcrumbs = false
  - promo = false
  - linkCssAttrs = ["css/404.css"]
  - linkJsAttrs = []

block content
  .fourHundredFour
    .container
      .fourHundredFour__logo
        +svg('404')
      .fourHundredFour__box
        .fourHundredFour__title
          span
            | Ошибка
          span
            | Страница не найдена
        .fourHundredFour__text
          span.fourHundredFour__subtitle
            | Возможные причины ошибки:
          ul.fourHundredFour__list
            li.fourHundredFour__listItem
              | ошибка при наборе адреса страницы (URL);
            li.fourHundredFour__listItem
              | переход по неработающей или  неправильной ссылке;
            li.fourHundredFour__listItem
              | отсутствие запрашиваемой страницы на сайте.
        .fourHundredFour__buttons
          a.fourHundredFour__link.button.sendBtn(href="#")
            | На главную
          a.fourHundredFour__link.fourHundredFour__link--red.button.sendBtn(href="#")
            | В каталог
